.project-detail {
  margin-top: 2rem;
}

.tasks-details {
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.tasks-col {
  height: auto;
  min-height: 30rem;
}

.add-task-row {
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-task-content {
  padding: 8px;
  border-radius: 8px;
  color: #a266e4;
  background-color: #f4f4f7;
}

.add-task-content:hover {
  background-color: #d3d8fb;
}


