.tasks-details {
  margin: 0 auto;
}

.tasks-col {
  height: 30rem;
  margin-top:30px;
}

.add-task-row {
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-task-content {
  padding: 8px;
  border-radius: 8px;
  color: #a266e4;
  background-color: #f4f4f7;
}

.add-task-content:hover {
  background-color: #d3d8fb;
}

.panels {
  overflow-x:auto;
}

.left-panel {
  position: fixed;
}

.right-panel {
  right: 0;
  position: fixed;
}

.banner {
  width: 100%;
  background-color: #ffffff;
  z-index: 40;
  margin-top: 4rem;
}

.add-task-row {
  position: fixed;
  right: 25px;
  top:5px;
  z-index: 60;
}