.tile-structure-children {
  height: 120px;
  width: 120px;
  cursor: pointer;
  padding: 5px 0;
  transition-duration: .4s;
}

.tile-structure {
  margin-bottom: 70px;
}

.tile-structure-children:hover {
  padding: 0px 0;
}

.project {
  margin-top: 60px;
  z-index: 5;
}
