.fa-row {
  font-size: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
}

.fa-trash {
  color: #f8096b;
  margin-right: 15px;
}

.fa-trash:hover {
  color: #e17f9f;
}

.fa-edit {
  color: #30caca;
}

.fa-edit:hover {
  color: #95dada;
}

.fa-th-list {
  font-size: 15px;
  color: #00c4ff;
  margin-left: 5px;
  margin-top: 5px;
}

.project-card {
  width: 250px;
  background: #e6ecec;
}

.project-name {
  color: #20b0d2;
  font-weight: 700;
}

.project-name:hover {
  color: #42ccf0;
}