.DashedTile.DashedTile--large .DashedTile-outer {
    stroke-dasharray: 10.0605,5.0302;
    cursor: pointer;
}
.FlowPickerTile-dashedTile .DashedTile-outer {
    stroke: #9ca6af;
    transition: 200ms fill,200ms stroke;
}
.DashedTile .DashedTile-outer {
    fill: transparent;
    stroke: #6f7782;
    transition: 200ms fill,200ms stroke;
}

.TileStructure-children {
    height: 120px;
    width: 120px;
}

.project {
    margin-left: 300px;
    margin-top: 60px;
}