.TileStructure-children {
    height: 120px;
    width: 120px;
    cursor:pointer;
    padding: 5px 0;
    transition-duration: .4s;
}

.TileStructure-children:hover {
    padding: 0px 0;
}

.project {
    margin-left: 300px;
    margin-top: 60px;
}




